.header-container{
    background: rgb(213, 237,231);
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.header-title{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: rgb(23, 82, 66);
    letter-spacing: 2px;
}

.logout-btn{
   position: absolute;
   right: 20px;
   top: 10px;
   background: none;
   color: rgb(23, 82, 66);
   font-family: 'Poppins', sans-serif;
   border: 1px solid rgb(23, 82, 66);
   border-radius: 5px;
   font-size: 18px;
}

.logout-btn:focus{
    outline: none;
}

.logout-btn:hover{
    cursor: pointer;
    background: white
}

.logo-leaf-icon-header{
    font-size: 40px;
    padding-left: 8px;
}