.new-plant-btn-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.create-plant-btn{
    background: none;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 20%;
    height: 40px;
    color: rgb(6, 38,57);
    border: 2px solid rgb(23, 82, 66);
    box-shadow:  0 0 6px rgb(23, 82, 66);
    border-radius: 5px;
}

.create-plant-btn:focus{
    outline:0;
}

.create-plant-btn:hover{
    cursor: pointer;
}
