.plant-card-container{
    height: auto;
    width: 400px;
    display: inline-block;
    margin-bottom: 30px;
  
}
.plant-card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.plant-image {
    height: 200px;
    width: auto;
}

.card-name{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: rgb(18, 66, 94);
    margin: 10px 0px 10px 0px;

}

.more-info-btn {
    background: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: rgb(18, 66, 94);
    height: 40px;
    width: 100px;
    border: 2px solid rgb(109, 138, 116);
    border-radius: 10px;
}

.more-info-btn:hover {
    background: #CCE2CB;
    cursor: pointer;
}

.more-info-btn:focus {
    outline: 0;
}

