.plant-card-container{
    height: auto;
    width: 28%;
    display: inline-block;
    padding: 5px;
    margin-bottom: 30px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.plant-card-container:hover{
    cursor: pointer;
    background: rgb(218, 218, 218);
}

.plant-card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.plant-image {
    height: 200px;
    width: auto;
}

.card-name{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    color: rgb(18, 66, 94);
    margin: 5px 0px 5px 0px;

}



