.plant-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 8;
    backdrop-filter: blur(5px);
}

.plant-section {
    height: auto;
    width: 80%;
    position: absolute;
    top: 0;
    margin-top: 10px;
    z-index: 10;
    background: rgb(132, 163, 167);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 0px 20px;
}

.close-pop-up-btn-section{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

.close-pop-up-btn{
    background: none;
    border: none;
    font-size: 30px;
    margin: 5px 5px 0px 0px;
}

.close-pop-up-btn:hover{
    cursor: pointer;
}

.close-pop-up-btn:focus{
    outline: 0;
}

.plant-title{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.plant-pop-up-info-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}


.pop-up-image{
    height: 400px;
    width: auto;
}

.plant-info{
    align-self: flex-start;
    padding: 10px 0px 10px 10px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}


.info-category{
    font-size: 20px;
    font-weight: bolder;
}


.plant-info-input-box{
    padding-left: 5px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 5px;
}

.plant-info-input-box:focus{
    outline: 0;
}

.sun{
    width: 100%;
}

.water{
    width: 100%;
}

.description{
    width: 100%;
}

.control-btn-section{
    margin-bottom: 10px;
}

.edit-btn{
    font-size: 18px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
}

.edit-btn:focus{
    outline: 0;
}

.edit-btn:hover{
    cursor: pointer
}

.back-out-edit-btn{
    font-size: 18px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-right: 40px;
}

.back-out-edit-btn:focus{
    outline: 0;
}

.back-out-edit-btn:hover{
    cursor: pointer
}

.save-btn{
    font-size: 18px;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 40px;
}

.save-btn:focus{
    outline: 0;
}

.save-btn:hover{
    cursor: pointer
}