
.login-container {
    height: 100vh;
    width: 100vw;
    /* background: rgb(252, 248, 238); */
    display: flex; 
    flex-direction: row;
    justify-content: center
}


.login-section{
    height: 500px;
    width: 500px;
    background: rgb(252, 248, 238);
    position: absolute;
    margin-right: 8%;
    margin-top: 8%;
    right: 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(201, 212, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-title{
    font-size: 40px;
    color: rgb(23, 82, 66);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-input {
    height: 25px;
    width: 80%;
    border: 1px solid rgb(53, 71, 57);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}

.login-input:focus {
    outline: none;
}

.login-btn {
    margin-bottom: 20px;
    background: none;
    color: rgb(53, 71, 57);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.5px;
    font-size: 18px;
    border: 1px solid rgb(53, 71, 57);
    border-radius: 10px;
    padding: 5px 15px;
}

.login-btn:focus {
    outline: 0;
}

.login-btn:hover {
    background: rgba(213, 237,231,.4);
    cursor: pointer;
}

.sign-up-div {
    color: rgb(53, 71, 57);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

.sign-up-btn {
    border: 1px solid rgb(53, 71, 57);
    color: rgb(53, 71, 57);
    text-decoration: none;
    letter-spacing: 1.5px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 10px;
}

.sign-up-btn:hover {
    background: rgba(213, 237,231,.4);
    cursor: pointer;
}

.logo-leaf-icon-login{
    font-size: 30px;
    padding-left: 8px;
}